[*.cs]

# RCS1123: Add parentheses when necessary.
dotnet_diagnostic.RCS1123.severity = silent

# RCS1146: Use conditional access.
dotnet_diagnostic.RCS1146.severity = silent

# RCS1096: Convert 'HasFlag' call to bitwise operation (or vice versa).
dotnet_diagnostic.RCS1096.severity = none
