.svn
.vs
*.cachefile
*.zip
*.rar
*.hmxz.*
*.gz
*.vsp
*.pdf
*.rtf
_UpgradeReport_Files
Backup
DimensionX - Copy
ipch
obj
Release
*/bin
*/obj
*/Debug
*/Release
*/*/bin
*/*/obj
*/*/Debug
*/*/Release
*/*/*/bin
*/*/*/obj
*/*/*/Debug
*/*/*/Release
*UpgradeLog.XML
UpgradeLog*.*
DimensionX/*.jpg
DimensionX/*.png
QuickFilter/ReleaseMinSize
hyboria0.jpg
sphere_voronoi.f90.txt
NodaTime/Portable
packages
*.suo
*.user
*_i.c
*_p.c
*.aps
*.tlb
BraveNewWorld/Libraries/FortuneVoronoi.dll
UniLibControls/GLVSetup2.1.0.exe
CGAL-4.0.2-Setup.exe
.sonarqube
