.svn
.vs
_UpgradeReport_Files
Backup
*/bin
*/obj
*/*/bin
*/*/obj
*/*/Debug
*/*/Release
*/*/*/bin
*/*/*/obj
*.cachefile
*.zip
DimensionX/*.jpg
*.rar
*.hmxz.*
DimensionX/*.png
*UpgradeLog.XML
ipch
obj
QuickFilter/Debug
QuickFilter/ReleaseMinSize
Release
*.vsp
*.pdf
*.rtf
hyboria0.jpg
*.gz
sphere_voronoi.f90.txt
UpgradeLog*.*
DimensionX - Copy
