.svn
.vs
*.cachefile
*.zip
*.rar
*.hmxz.*
*.gz
*.vsp
*.pdf
*.rtf
_UpgradeReport_Files
Backup
DimensionX - Copy
ipch
obj
Release
*/bin
*/obj
*/Debug
*/Release
*/*/bin
*/*/obj
*/*/Debug
*/*/Release
*/*/*/bin
*/*/*/obj
*/*/*/Debug
*/*/*/Release
*UpgradeLog.XML
UpgradeLog*.*
DimensionX/*.jpg
DimensionX/*.png
QuickFilter/ReleaseMinSize
hyboria0.jpg
sphere_voronoi.f90.txt
NodaTime/Portable
