<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="VQMapTest2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <VQMapTest2.Properties.Settings>
            <setting name="preset1" serializeAs="String">
                <value/>
            </setting>
            <setting name="preset2" serializeAs="String">
                <value/>
            </setting>
            <setting name="preset3" serializeAs="String">
                <value/>
            </setting>
            <setting name="preset4" serializeAs="String">
                <value/>
            </setting>
            <setting name="preset5" serializeAs="String">
                <value/>
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value/>
            </setting>
        </VQMapTest2.Properties.Settings>
    </userSettings>
</configuration>
